* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #444;
  overflow-x: hidden;
}

#main,
.about,
.projects,
.blog {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

li,
li a,
a {
  color: #f4f4f4;
  list-style: none;
  text-decoration: none;
}

.menu-btn {
  color: darkgray;
  display: flex;
  position: fixed;
  z-index: 102;
  left: 40px;
  top: 30px;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.menu-btn.close {
  color: #555;
}

.menu-btn .menu-btn-line {
  font-size: 0.8rem;
  letter-spacing: 0.6rem;
  width: 15px;
  height: 15px;
  background: gold;
  transition: all 0.2s ease-in-out;
}

.menu-btn-line span {
  color: black;
}

.menu-btn.close {
  transform: rotate(90deg);
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  opacity: 0.975;
  z-index: 101;
}

.menu.show {
  visibility: visible;
}

.menu-nav {
  text-transform: uppercase;
  line-height: 4rem;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100vh;
  overflow: hidden;
  transform: translateX(-100%);
  transition: all 0.8s ease-in-out;
}

.menu-nav.show {
  transform: translateX(0);
}

.nav-item::before {
  content: "";
  top: 0;
  left: -10px;
  width: 5px;
  height: 100%;
  border-top: 10px solid black;
  transform: scaleY(9);
  opacity: 0;
  transition: 0.5s;
  position: absolute;
}

.nav-item:hover::before {
  transform: scaleY(1);
  opacity: 1;
}

.menu .nav-item {
  transition: all 1s ease-in-out;
}

.menu .nav-item.show {
  transform: translateX(0);
}

.menu .nav-link {
  font-family: "Cinzel", serif;
  font-size: 0.8rem;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  color: black;
}

.menu-showcase {
  background: transparent;
  width: 70%;
  height: 100vh;
}

.underlay {
  background: black;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.main {
  width: 100%;
  height: 90%;
  overflow: hidden;
  padding-bottom: 15px;
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #f4f4f4;
  top: 70%;
  left: 60%;
  position: absolute;
}

.notice {
  font-family: "Cinzel", serif;
  font-size: 0.7rem;
  letter-spacing: 0.075rem;
  margin-right: -0.075rem;
  text-align: center;
  color: #f4f4f4;
  width: 100%;
  position: absolute;
  display: none;
}

.notice span,
.notice-modified span {
  animation: blink 2s linear infinite;
}

.notice-modified {
  font-family: "Cinzel", serif;
  font-size: 0.7rem;
  letter-spacing: 0.075rem;
  margin-right: -0.075rem;
  padding-bottom: 2rem;
  color: black;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/**/
.txt-type > .txt {
  border-right: 0.2rem solid #f4f4f4;
}

.about {
  background: black;
  width: 100%;
  height: 400vh;
  display: flex;
}

.about-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #f4f4f4;
  width: 40%;
  height: 100vh;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title h2 {
  margin-right: -0.5rem;
}

.about-pages {
  width: 60%;
}

.about-pages div {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 45px;
}

.about-pages div > h2 {
  font-family: "Permanent Marker", cursive;
}

.about-pages div > p {
  font-family: "Cinzel", serif;
  letter-spacing: 0.125rem;
  line-height: 1.5rem;
  width: 75%;
}

.me.effect {
  animation: blink 1s linear;
  transition: all 1s ease-in-out;
}

.projects {
  color: black;
  background: white;
  height: 100%;
  overflow: auto;
  padding: 7rem 2rem;
  flex-direction: column;
  overflow: hidden;
}

.projects h4 {
  font-family: "Permanent Marker", cursive;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.card {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.image {
  width: 45vw;
  height: inherit;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  font-family: "Cinzel", serif;
  width: 50vw;
  height: inherit;
  border: black 1px solid;
  padding: 40px;
}

.gray-txt {
  color: #999;
}

.content h3 {
  font-family: "Permanent Marker", cursive;
  text-transform: uppercase;
}

.content p {
  font-size: 0.85rem;
}

.btn {
  text-align: center;
  color: black;
  border: black 1px solid;
  padding: 0.25rem 0.75rem;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  color: white;
  background: black;
  transition: all 0.4s ease-in-out;
}

.btn-modified {
  color: white;
  border: white 1px solid;
}

.btn-modified:hover {
  color: black;
  background: white;
}

.btn-disabled {
  opacity: 0.25;
}

.space {
  margin-right: 20px;
}

/*
.blog {
  font-size: 18px;
  line-height: 1;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
}

.loader {
  display: flex;
  transition: all 1s ease-in-out;
  z-index: 1;
}

.loader > span {
  display: inline-block;
  background-color: black;
  width: 11px;
  height: 11px;
  margin: 0 7px;
  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color: black;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

.message {
  opacity: 0;
  transition: opacity 2s ease-in;
}

.message h2 {
  font-family: "Cinzel", serif;
  font-size: 20px;
  letter-spacing: 0.2rem;
  margin-right: -0.2rem;
  color: #111;
}

@keyframes bounce {
  to {
    width: 11px;
    height: 11px;
    transform: translate3d(0, -11px, 0);
  }
}*/

.contact {
  height: calc(100vh - 71px);
  color: white;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.5s ease-in-out;
}

.contact.color-active {
  background: black;
  transition: all 1.5s ease-in-out;
}

.color-txt,
.dot {
  font-family: Arial, Helvetica, sans-serif;
}

.contact p {
  font-size: 1rem;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  padding-right: 50px;
}

.contact a {
  font-family: "Cinzel", serif;
}

.modal {
  font-family: "Cinzel", serif;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal-content {
  background-color: #f4f4f4;
  width: 50%;
  margin: 20% auto;
  padding: 70px 50px;
}

.close-btn {
  font-family: "Cinzel", serif;
  font-size: 0.9rem;
  letter-spacing: 0.25rem;
  margin-right: -0.25rem;
  color: darkorange;
  float: right;
}

.close-btn:hover {
  color: black;
  cursor: pointer;
}

/**/
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
  margin-right: -0.15rem;
  width: 100%;
  color: #f4f4f4;
  background: black;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

@media only screen and (max-height: 325px) {
  .contact p {
    font-size: 0.5rem;
  }
}

/**/
@media only screen and (max-width: 480px) {
  .menu-nav,
  .menu-showcase {
    width: 50%;
  }

  .menu-btn {
    top: 25px;
    left: 25px;
  }

  .menu-btn-line {
    font-size: 0.2rem;
  }

  .nav-item {
    font-size: 0.5rem;
    line-height: 3rem;
  }

  .headline {
    display: none;
  }

  .notice {
    font-size: 0.4rem;
  }

  .about-title {
    font-size: 0.6rem;
    padding-left: 20px;
  }

  .about-pages > div {
    padding-left: 20px;
  }

  .about-pages h2 {
    font-size: 1.2rem;
  }

  .card {
    flex-direction: column;
  }

  .image {
    width: 95vw;
    height: 30%;
  }

  .modal-content {
    width: 70%;
  }

  .content {
    width: 95vw;
    height: 45%;
  }

  .contact {
    flex-direction: column;
  }

  .contact p {
    letter-spacing: 0.25rem;
    margin-right: -0.25rem;
    text-align: left;
    padding-left: 15px;
  }

  .buttons {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 850px) {
  .menu-nav,
  .menu-showcase {
    width: 50%;
  }

  .nav-item {
    line-height: 2rem;
  }

  .headline {
    font-size: 0.8rem;
    left: 50%;
  }

  .about-title {
    font-size: 0.6rem;
  }

  .card {
    flex-direction: column;
  }

  .image {
    width: 90vw;
    height: 80%;
  }

  .modal-content {
    width: 70%;
  }

  .content {
    width: 90vw;
    height: 80%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .btn {
    font-size: 0.75rem;
    margin: 8px;
    padding: 0.25rem 0.75rem;
  }

  .contact p {
    padding-left: 5px;
    padding-right: 10px;
  }

  .modal {
    top: -20%;
  }
}

/* Media Query for iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .menu-nav {
    width: 30%;
  }

  .menu-showcase {
    width: 70%;
  }

  .nav-item {
    line-height: 3.5rem;
  }

  .headline {
    font-size: 1.8rem;
    left: 50%;
  }

  .modal {
    top: 0;
  }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .nav-item {
    line-height: 3rem;
  }
}

@media all and (min-height: 1025px) and (orientation: portrait) {
  .menu-nav {
    width: 30%;
  }

  .menu-showcase {
    width: 70%;
  }

  .nav-item {
    line-height: 5rem;
  }

  .headline {
    font-size: 2.25rem;
    left: 55%;
  }
}
